@media screen and (max-width: 576px) {
    .header {
        flex-direction: row;
    }

    .icon {
        display: block;
    }

    .header a {
        display: none;
    }

    .header {
        width: 100%;
        padding: 0 20px;
    }

    /* Banner */
    .banner-section {
        width: 100%;
    }

    .banner-container {
        flex-direction: column;
        padding-left: 20px;

    }

    .banner-context {

        margin-right: 0;

    }

    .banner-button {
        display: flex;
    }

    .banner-image {

        margin-left: 20px;
    }

    .btn-primary {

        padding: 10px 20px;

        font-size: 18px;
        font-weight: 600;


    }

    #outline-button {


        padding: 10px 20px;

        font-size: 18px;
        font-weight: 600;

    }

    .tutorial-videos-container {

        margin-top: 55px;
        margin-left: 0;
    }

    /* Habits */
    .habits-container {
        margin-top: 100px;
    }

    .habits-image-container {
        flex-direction: column;

        align-items: center;
    }

    /* Run container */
    .run-container {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .run-context button {
        width: 100%;
    }

    .run-img img {
        width: 100%;

    }

}